/* Estilos generales */
* {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body :not(header) {
  padding: 0 10px;
}

/* Estilos de encabezado */
header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  left: -5px;
  border-radius: 100%;
  height: 70px;
}

.usuarios {
  position: absolute;
  top: -12px;
  left: 8%;
  font-size: 2.1em;
  color: black;
}

#burguer {
  font-size: xx-large;
}

/* Estilos de contenedor principal */
.container {
  margin-top: 110px;
  height: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Estilos de barra lateral */
aside {
  margin-right: 5px;
  background-color: #bcbcbc;
  width: 15%;
  border-radius: 30px;
}

/* Estilos de sección principal */
section {
  width: 90%;
}

/* Estilos de contenido */
.content {
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 40%);
  grid-gap: 60px;
  background: url(background.png);
  background-size: cover;
  padding: 20px;
  justify-content: center;
}

.content > * {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Estilos de los contenedores rojo y blanco */
.contenedor_rojo {
  width: 25%;
  height: 100%;
  border-bottom-right-radius: 20%;
  display: flex;
  align-items: center;
  background-color: #ff0000;
}

.contenedor_blanco {
  height: 50%;
  width: 100%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

/* Estilos para los elementos de la lista */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

/* Estilos para las imágenes y el texto dentro del contenido */
.content > div > img {
  height: 100px;
  width: 100px;
}

.content > div > div {
  font-size: 1.5em;
  border-bottom: 1.5px solid;
}

.content > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content > div > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  color: #ffffff;
}

